/*Bottone Indietro*/
.retro {
 width: 60px;
 height: 45px;
 border-color: transparent;
 border-radius: 40px;
 background-color: red;
 box-shadow: 0px 0px 15px green;
 font-size: large;
 color: #000;
}
            
.retro:hover {
 opacity: .7;
}
            
.retro:active {
 background-color: #000;
 color: red;
 box-shadow: 0px 0px 55px yellow;
}

/*Bottone Android*/
.An {
 width: 80px;
 height: 45px;
 border-color: transparent;
 border-radius: 40px;
 background-color: green;
 box-shadow: 0px 0px 15px greenyellow;
 font-size: large;
 color: #000;
}
            
.An:hover {
 opacity: .7;
}
            
.An:active {
 background-color: #000;
 color: green;
 box-shadow: 0px 0px 55px lime;
}
