/*Sfondo*/
body {
  background-color: grey;
}

/*Man Of Peace*/
.MOP {
 color: transparent;
}

.MOP:hover {
 color: transparent;
}

/*Infinite Run*/
.IR {
 color: transparent;
}
   
.IR:hover {
 color: transparent;
}

/*Sprint*/
.SPR {
 color: transparent;
}
   
.SPR:hover {
 color: transparent;
}

/*Kiwy Store App*/
.KSA {
 color: transparent;
}
   
.KSA:hover {
 color: transparent;
}

/*Care Center*/
.CC {
 color: transparent;
}

.CC:hover {
 color: transparent;
}

/*Care x Sprint*/
.CXS {
 color: transparent;
}
   
.CXS:hover {
 color: transparent;
}
